body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Page {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  margin-top: 30px;
  align-items: center;
  font-size: xx-large;
}

.Signup {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  margin-top: 30px;
  align-items: center;
  font-size: large;
}

.Login {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  margin-top: 30px;
  align-items: center;
  font-size: large;
}
